@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.cabeçalhoprincipal .container {
    background-color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.cabeçalho {
    margin-left: 110vh;
}

.menu {
    margin-left: 20px;
    color: black;
}

.informação {
    background-color:rgb(163, 163, 163);
    display: flex;
    height: 10vh;
    align-items: center;
}

.informação .texto {
    margin-left: 30px;
}

.imagem {
    background-position: center;
    width: 211vh;
}

.listacontainer {
    background-color: rgb(163, 163, 163);
    height: 300vh;
    display: flex;
    align-items: center;
    
}

.lista {
    margin: 5px;
}

.button {
    background-color: rgb(255, 255, 255);
    width: 50vh;
    height: 20vh;
    margin: 10px;
    margin-left: 80px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 750px, max-height: 1600px) {

    .logo {
        width: 10px;
    }


    .button {
        margin-left: 70px;
        
    }

    .listacontainer {
        height: 260vh;
        width: 100vh;
    }

    .cabeçalho {
        width: 200px;
        display: flex;
        margin-left: 60vh;
    }
}

@media (max-width: 600px) {

    body {
        width: 100vh;
        height: 100vh;
    }

    .cabeçalhoprincipal .container {
        width: 60px;
        height: 20vh;
        
    }

    .cabeçalho {
        margin-left: 70vh;
    }

    .informação {
        width: 100vh;
        height: 20vh;
    }

    .logo {
        width: 20px;
    }

    .imagem {
        width: 100vh;
    }

    .listacontainer {
        height: 280vh;
        width: 100vh;
    }

    .button {
        
        width: 20vh;
        margin: 10px;
        margin-left: 52px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    }
}

@media (max-width: 450px) {

    .logo {
        width: 10px;
    }


    .button {
        margin-left: 70px;
        
    }

    .listacontainer {
        height: 260vh;
        width: 100vh;
    }

    .cabeçalho {
        width: 200px;
        display: flex;
        margin-left: 60vh;
    }
}

